* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 20px;
}

.blog-p-card--post {
  flex: 0 0 calc(33.33% - 20px);
  border: 0.5px solid silver;
  border-top: 4px solid #3f2072;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding: 14px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  min-height: 500px;
  max-height: 600px;
  max-width: 350px;
  position: relative;
}

.blog-p-card--post .vf-card__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.blog-p-card--post .blog-p-card__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.vf-card__image {
  max-width: 100%;
  height: auto;
}

.blog-p-card__footer {
  border-top: 0.5px dashed silver;
  padding: 14px 14px 0 14px;
  position: absolute;
  bottom: 0;
  left: 14px;
  right: 14px;
  box-sizing: border-box;
}


.blog-p-card__header {
  border-bottom: 0.5px dashed silver;
  margin-bottom: 18px;
  padding-bottom: 10px;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .blog-p-card--post {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
}
